@page
@model Lab17.Pages.RedisCacheModel

<h1>Redis кэширование</h1>
<p>Текущее время: <strong>@Model.CurrentTime</strong></p>
<p>Время из Redis: <strong>@Model.CachedTime</strong></p>
<a href="/RedisCache">Обновить</a>