<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Проверка статических файлов</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Проверка CSS и JavaScript</h1>
    <p id="js-message">Это сообщение будет изменено JavaScript</p>

    <img src="~/images/9S3_2jkAwIk.jpg" alt="Фото" width="200" />

    <script src="~/js/site.js"></script>
</body>
</html>
